/*
 * Name: Fasad Dark Mode
 * Auto Run: "url"
 * Auto Run Url: "http://*.fasad18.prek.srv/*|https://beta.fasad.eu/*"
*/
body {
  filter: invert(1);
}

body.login21 {
  background-blend-mode: difference;
}

.login21 #footer {
  opacity:.4;
}

.fg-orange,
.fg-dark-orange,
.btn-text-link,
.ui-button-text-only .ui-button-text,
.btn-text-link.disabled,
.btn-text-link.ui-state-disabled,
.btn-text-link[disabled],
.ui-dialog .ui-dialog-titlebar-close:before,
.faux-btn:hover,
.zendesk-link,
div.internetads-bottomContent .internetads-publish, div.internetads-bottomContent div.internetads-publishpricefinal, div.internetads-bottomContent .internetads-publish-pricefinal, div.internetads-bottomContent div.internetads-publish-pricefinal,
div.internetads-bottomContent div.internetads-unpublish,
.dataTables_paginate .ui-state-default,
.dataTable .DataTables_sort_icon.ui-icon-triangle-1-s:before, .dataTable .DataTables_sort_icon.ui-icon-triangle-1-n:before,
.nm-title,
.listmenu-header.selected>a,
.fg-toolbar .top-button.fg-button,
.ui-tabs .ui-tabs-nav .more-menu-wrap li.ui-state-active a,
.newslightbox__newscontainer h1,
.newslightbox__newscontainer a {
  color: #239bec !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active,
#gallery-tabs li.selected {
  border-color: #239bec !important;
}

#login_form input[type="submit"],
.notification-badge,
.system-header-message > div,
.dataTables_processing,
.ui-dialog-titlebar {
  background-color: #239bec !important;
}

input[type="checkbox"], input[type="radio"] {
    accent-color: #239bec !important;
}

.icon--red,
.red-icon {
    color: #17eedc;
}

.icon--green {
    color: #884db4;
}

.ribbon span {
  background-color: #884db4;
}

.checklistprogress li.yellow {
    background: #884db4 !important;
}

.checklistprogress li.yellow:before {
    border-color: transparent transparent transparent #884db4 !important;
}

.collection,
input[type=range],
#internetads-wrapper div.internetadslogo,
#internetads-wrapper div.internetadslogo .fg-orange,
.extbody div,
#latestobjects a .col_objecttype::before,
td.col_objecttype::before,
.ac_14 .col_activity:after,
.ac_19 .col_activity:after,
.ac_16 .col_activity:before,
.profileImageContainer,
#lifestyle_wrapper > img,
.miniColors-trigger,
#form_office i[class^=icon-prio-],
#officeLogo-element img,
.officeImagesDiv img,
#preview_description img,
.maildescriptionlink,
.data-summary-image img,
.icon-logo-livingprice,
.newslightbox__close {
  filter: invert(1);
}

#logotype img,
.login21 > img {
  filter: invert(0.5) sepia(1) saturate(6) hue-rotate(175deg);
}

.ui-widget-content,
.fact-grid-commercial,
.fg-888,
.special-section-wrapper > div {
  color: #111 !important;
}

form input[type="text"], form input[type="email"], form input[type="number"], form input[type="password"], form select, .default-input, input[type="number"], input[type="text"], input[type="tel"],
form textarea,
.ui-autocomplete-input {
  border-color: #666 !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .75;
}

body > .ui-tooltip,
body > .ui-tooltip .ui-tooltip-content {
  color: #000;
  background: #eee;
}

